@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

body {
    font-family: 'Source Code Pro';
}

.layout-container { 
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.batch-list {
    max-height: 37vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.log {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.requirements {
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}